* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

/* Static Containers - Header, Footer */
.static_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 6vh;
    background-color: #535353;
    color: #f7f7f7;
}

.static_container a {
    text-decoration: none;
    color: white;
}

.static_container h1 {
    font-family: 'Tilt Warp', cursive;

}

.left_control {
    width: 2rem
}

.icon_control {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.right_control {
    width: 2rem
}

.cart_inf {
    width: 3rem;
    /* background-color: brown; */
    display: flex;
    align-items: flex-start;
}

#items_quantity {
    /* display: none; */
    background-color: purple;
    /* position: absolute; */
    /* width: 1rem; */
    font-weight: bolder;
    padding: 2px;
    border: 2px solid orange;
    border-radius: 25px;
}

.footer_position {
    position: absolute;
    bottom: 0px;
    width: 100%
}

/* Content Container */

.content_container {
    display: flex;
    height: 88vh;
    /* background-color: #6d336d; */
    justify-content: center
}

.add_new_item {
    color: white;
    position: absolute;
    right: 4px;
    top: 3px;
    width: 5rem;
}

.add_new_item button {
    width: 100%;
    height: 100%;
    font-weight: bolder;
    background-image: linear-gradient(271deg, #ff0505, #f4ff00);
    border-radius: 5px;
    padding: 3px;
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}

.add_new_item button:hover {
    background-image: linear-gradient(88deg, #ff0505, #f4ff00);
}

#sort_btn{
    position: absolute;
    right: 3vw;
    top: 17vh;
}

#sort_btn button{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}

#sort_btn button:hover{
    filter: drop-shadow(2px 4px 6px purple);
}

/* Sub Container */

.sub_container {
    width: 80vw;
    /* background-color: #1a5528; */
    display: flex;
    align-items: center;
    justify-content: center
}

.main_cart {
    display: flex;
}

.cart_bg {
    background-color: #ffceef;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    border-right: 3px solid #ed153a;
    border-left: 3px solid #ed153a;
}

.cart_container {
    width: 90%;
    height: 100%;
    overflow-y: auto
}

.cart_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: purple; */
    height: 90vh;
    overflow-y: auto;
    padding: 5px;
    width: 80vw;
}

.cart_amount {
    /* background-color: rgb(46, 222, 30); */
    height: 90vh;
    width: 20vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #dadada;
}

.cart_item {
    height: 200px;
    width: 70rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    border-radius: 11px;
    transition: all 0.5s;
    /* background-color: #7d427d */
}

.cart_item:hover {
    box-shadow: inset 0px 0px 17px -5px #1c22e5;
    background-color: #9500cb14;
}


.item_image_container {
    width: 15rem;
    height: 90%;
}

.item_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name_stock {
    width: 40rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.item_name {
    font-family: 'Tilt Warp', cursive;
    width: 35rem;
    height: 3rem;
    font-size: 16pt;
    margin-bottom: 1rem;
}

.item_name a {
    color: black;
    text-decoration: none;
}

.item_data {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_stock {
    font-family: 'Tilt Warp', cursive;
    padding: 5px;
}

.item_price {
    font-family: 'Tilt Warp', cursive;
    padding: 5px;
}

.item_quantity {
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    color: white;
    padding-top: 3px;
    border-radius: 5px;
    margin: 2px;
}

.add_to_cart {
    width: 7rem;
}

.add_to_cart_btn {
    padding: 5px;
    height: 3rem;
    width: 100%;
    background-image: linear-gradient(166deg, #e7f42a, #ffbf22);
    border-radius: 16px;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s;
}

.add_to_cart_btn:hover {
    filter: drop-shadow(2px 4px 6px #ef741f);
}

.quantity_btn {
    height: 3vh;
}

/* Product Details Page */
.product_details {
    display: flex;
    height: 46rem;
}

.details_image {
    /* background-color: rgb(111, 231, 67); */
    width: 25vw;
}

.details_information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: pink; */
    width: 75%;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
}

.details_headers {
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    width: 95%;
    padding: 3rem;
    align-items: center;

}

.details {
    width: 95%;
    /* background-color: #ef741f; */
    padding: 3rem;
    color: #808080;
}

.details_operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 5px;
}

.details_qty {
    display: flex;
    align-items: center;
    padding: 3rem;
}

.edit_product {
    position: absolute;
    right: 3px;
    width: 2rem;
    top: 20%;
    opacity: 0.3;
    cursor: pointer;
}

.edit_product a {
    text-decoration: none;
    color: black;
}

.edit_product:hover {
    opacity: 1;
}

/* Add Product */
.add_product {
    height: 90%;
    display: flex;
}

.add_product_image {
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
    background-image: linear-gradient(45deg, #3d11da, transparent);
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}

.add_product_inf {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(225deg, #3d11da, transparent);
}

.add_product_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #58585830;
    border-radius: 25px;
    width: 60%;
    height: 30rem;
    padding: 5px;
}

.add_product_form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
    width: 90%;
}

.add_product_form label {
    color: #00ffd7;
    font-family: cursive;
    width: 70%;
    font-size: 19pt;
    text-shadow: 0 0 8px #2794dc;
}

.add_product_form input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
    width: 80%;
    font-size: 19pt;
    padding: 5px;
    text-align: center;
    color: white;
}

.add_product_form label textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    height: 12vh;
    overflow-y: auto;
    padding: 5px;
    resize: none;
    color: white;
    box-shadow: inset 0px 0px 5px 0px black;
    border-radius: 5px;
    font-size: 15pt;
}

.add_product_form button{
    padding: 5px;
    border-radius: 5px;
    background-color: #6745e4;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

.add_product_form button:hover{
    box-shadow: 0px 0px 8px 5px #3d11da;
    background-color: #683eff;
}

#add_product_info{
    color: #fdfdfd;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 8px;
    font-size: 10pt;
    filter: drop-shadow(2px 4px 6px black);
}