* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.static_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 6vh;
    background-color: black;
    color: white;
}

.left_control {
    width: 2rem
}

.icon_control {
    width: 100%;
    height: 100%;
}

.right_control {
    width: 2rem
}

.footer_position {
    position: absolute;
    bottom: 0px;
    width: 100%
}

.content_container {
    display: flex;
    height: 88vh;
    /* background-color: #6d336d; */
    justify-content: center
}

.add_new_item{
    color: white;
    position: absolute;
    right: 4px;
    top: 3px;
    width: 5rem;
}

.add_new_item button{
    width: 100%;
    height: 100%;
    font-weight: bolder;
    background-image: linear-gradient(271deg, #ff0505, #f4ff00);
    border-radius: 5px;
    padding: 3px;
}

.sub_container {
    width: 80vw;
    /* background-color: #1a5528; */
    display: flex;
    align-items: center;
    justify-content: center
}

.cart_container {
    width: 90%;
    height: 100%;
    overflow-y: auto
}

.cart_item {
    height: 200px;
    width: 70rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    /* background-color: #7d427d */
}


.item_image_container {
    width: 15rem;
    height: 90%;
}

.item_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name_stock {
    width: 40rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.item_name {
    font-family: 'Tilt Warp', cursive;
    width: 35rem;
    height: 3rem;
    font-size: 16pt;
    margin-bottom: 1rem;
}

.item_data {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_stock {
    font-family: 'Tilt Warp', cursive;
    padding: 5px;
}

.item_price {
    font-family: 'Tilt Warp', cursive;
    padding: 5px;
}

.add_to_cart {
    width: 7rem;
}

.add_to_cart_btn {
    padding: 5px;
    height: 3rem;
    width: 100%;
    background-image: linear-gradient(166deg, #e7f42a, #ffbf22);
    border-radius: 16px;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
}