* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.full_screen {
    width: 100%;
    height: 100%;
}

/* Static Containers - Header, Footer */
.static_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 6vh;
    background-color: #535353;
    color: #f7f7f7;
}

.static_container a {
    text-decoration: none;
    color: white;
}

.static_container h1 {
    font-family: 'Tilt Warp', cursive;

}

.left_control {
    width: 2rem
}

.icon_control {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.right_control {
    width: 2rem
}

.cart_inf {
    width: 3rem;
    display: flex;
    align-items: flex-start;
}

#items_quantity {
    background-color: purple;
    font-weight: bolder;
    padding: 2px;
    border: 2px solid orange;
    border-radius: 25px;
}

.footer_position {
    position: absolute;
    bottom: 0px;
    width: 100%
}

/* Content Container */

.middle_of_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-family: 'Tilt Warp', cursive;
}

.content_container {
    display: flex;
    height: 90vh;
}

#add_new_item {
    color: white;
    position: absolute;
    right: 1vw;
    top: 1%;
    width: 10%;
    padding: 2px;
}

#add_new_item button {
    font-weight: bolder;
    background-image: linear-gradient(271deg, #ff0505, #f4ff00);
    border-radius: 5px;
    padding: 3px;
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}

#add_new_item button:hover {
    background-image: linear-gradient(88deg, #ff0505, #f4ff00);
}

#reset_app {
    color: black;
    position: absolute;
    right: 4px;
    bottom: 14vh;
    width: 2rem;
    opacity: 0.3;
    height: 2rem;
}

#reset_app:hover {
    opacity: 1;
}

#sort_btn {
    position: absolute;
    right: 3vw;
    top: 17vh;
    width: fit-content;
}

#sort_btn button {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}

#sort_btn button:hover {
    filter: drop-shadow(2px 4px 6px purple);
}

/* Sub Container */

.sub_container {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_cart {
    display: flex;
}

.cart_bg {
    background-color: #ffceef;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    border-right: 3px solid #ed153a;
    border-left: 3px solid #ed153a;
}

.cart_container {
    display: flex;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}

.cart_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow-y: auto;
    padding: 5px;
    width: 80vw;
}

.cart_amount {
    height: 90vh;
    width: 20vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #dadada;
}

.cart_item {
    height: 200px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    border-radius: 11px;
    transition: all 0.5s;
}

.cart_item:hover {
    box-shadow: inset 0px 0px 17px -5px #1c22e5;
    background-color: #9500cb14;
}


.item_image_container {
    width: 20%;
    height: 90%;
}

.item_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name_stock {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.item_name {
    font-family: 'Tilt Warp', cursive;
    width: 100%;
    height: 40%;
    overflow-y: auto;
    font-size: 16pt;
}

.item_name a {
    color: black;
    text-decoration: none;
}

.item_data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_stock {
    font-family: 'Tilt Warp', cursive;
    padding: 5px;
}

.item_price {
    font-family: 'Tilt Warp', cursive;
    padding: 5px;
}

.item_quantity {
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    color: white;
    padding-top: 3px;
    border-radius: 5px;
    margin: 2px;
}

.quantity_control {
    display: flex;
    align-items: center;
}

.add_to_cart {
    width: 10%;
}

.add_to_cart_btn {
    padding: 5px;
    height: 30%;
    width: 100%;
    background-image: linear-gradient(166deg, #e7f42a, #ffbf22);
    border-radius: 16px;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s;
}

.add_to_cart_btn:hover {
    filter: drop-shadow(2px 4px 6px #ef741f);
}

.quantity_btn {
    height: 3vh;
}

/* Product Details Page */
.product_details {
    display: flex;
    height: 90vh;
}

.details_image {
    width: 25vw;
}

.details_information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
}

.details_headers {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 3rem;
    align-items: center;

}

.details {
    width: 95%;
    padding: 3rem;
    color: #808080;
}

.details_operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 5px;
}

.details_qty {
    display: flex;
    align-items: center;
    padding: 3rem;
}

.edit_product {
    position: absolute;
    right: 3px;
    width: 2rem;
    top: 25%;
    opacity: 0.3;
    cursor: pointer;
}

.edit_product a {
    text-decoration: none;
    color: black;
}

.edit_product:hover {
    opacity: 1;
}

.delete_product {
    position: absolute;
    right: 3px;
    width: 2rem;
    top: 30%;
    opacity: 0.3;
    cursor: pointer;
}

.delete_product:hover {
    opacity: 1;
}

/* Add Product */
.add_product {
    height: 90vh;
    display: flex;
}

.add_product_image {
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
    background-image: linear-gradient(45deg, #3d11da, transparent);
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}

.add_product_inf {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(225deg, #3d11da, transparent);
}

.add_product_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #58585830;
    border-radius: 25px;
    width: 60%;
    height: 70vh;
    padding: 5px;
}

.add_product_form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
    width: 90%;
}

.add_product_form label {
    color: #00ffd7;
    font-family: cursive;
    width: 70%;
    font-size: 19pt;
    text-shadow: 0 0 8px #2794dc;
}

.add_product_form input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
    width: 80%;
    font-size: 19pt;
    padding: 5px;
    text-align: center;
    color: white;
}

.add_product_form label textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    height: 12vh;
    overflow-y: auto;
    padding: 5px;
    resize: none;
    color: white;
    box-shadow: inset 0px 0px 5px 0px black;
    border-radius: 5px;
    font-size: 15pt;
}

.add_product_form button {
    padding: 5px;
    border-radius: 5px;
    background-color: #6745e4;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

.add_product_form button:hover {
    box-shadow: 0px 0px 8px 5px #3d11da;
    background-color: #683eff;
}

#add_product_info {
    color: #fdfdfd;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 8px;
    font-size: 10pt;
    filter: drop-shadow(2px 4px 6px black);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .sub_container {
        width: 100%;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
    }

    .cart_container {
        height: 80vh;
        justify-content: flex-start;
    }

    #sort_btn {
        position: absolute;
        left: 1%;
        top: 6.5%;
    }

    #add_new_item {
        border-radius: 5px;
        width: 14%;
        right: 10%;
        top: 6.5%;
    }

    .product_details {
        flex-direction: column;
        align-items: center;
    }

    .details_image {
        width: 90vw;
        height: 50vh;
    }

    .details_information {
        width: 90vw;
        overflow-y: auto;
        height: 37vh;
        justify-content: flex-start;
    }

    .add_to_cart {
        width: 36%;
        height: 10%;
    }

    .add_to_cart_btn {
        height: fit-content;
    }

    .main_cart {
        flex-direction: column;
    }

    .cart_item {
        flex-direction: column;
        height: 50vh;
    }

    .item_image_container {
        width: 100%;
        height: 60%;
    }

    .name_stock {
        height: 30%;
        width: 90%;
    }

    .item_name {
        height: 70%;
    }

    .item_data {
        height: 30%;
    }

    .cart_bg {
        width: 98vw;
    }

    .cart_page {
        height: 70vh;
        width: 100vw;
    }

    .cart_amount {
        height: 10vh;
        width: 100vw;
        border: none;
        border-top: 1px solid #dadada;
    }

    .add_product {
        flex-direction: column;
    }

    .add_product_image {
        width: 100vw;
        height: 20vh;
        font-size: 2vh;
    }

    .add_product_inf {
        width: 100vw;
        height: 90vh;
    }

    .add_product_form_container {
        width: 100vw;
        height: 80vh;
    }

    #add_product_btn {
        margin-bottom: 2vh;
    }

    .details_headers {
        align-items: flex-start;
        flex-direction: column;
    }

    #details_name{
        margin-bottom: 15px;
    }
}