* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.static_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 6vh
}

.left_control {
    width: 2rem
}

.icon_control {
    width: 100%;
    height: 100%;
}

.right_control {
    width: 2rem
}

.footer_position {
    position: absolute;
    bottom: 2px;
    width: 100%
}

.content_container {
    display: flex;
    height: 88vh;
    /* background-color: #6d336d; */
    justify-content: center
}

.sub_container {
    width: 80vw;
    /* background-color: #1a5528; */
    display: flex;
    align-items: center;
    justify-content: center
}

.cart_container {
    width: 90%;
    height: 100%;
    overflow-y: auto
}

.cart_item {
    height: 200px;
    width: 70rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    /* background-color: #7d427d */
}

.item_name {
    width: 10%;
}

.item_stock {
    width: 30%;
}

.item_image_container {
    width: 30%;
    height: 90%;
}

.item_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}